extends adminlayout
block body
  .container
    .row
      .col-md-6
        ul.list-group
          -for(let cate in list)
            h3 #{cate}
            - let category = list[cate]
            -for(let type in category) 
              h4 #{type}
              - if(type == 'localLinks')
                -let tags = category[type]
                  -for (let tag in tags)
                    h5 #{tag}
                    -let content = tags[tag]
                      each item in content
                        li.list-group-item #{item.title}
                          a.pull-right(href="/admin/link/"+item.id) Delete
              - else
                - let content = category[type]
                  each item in content
                    li.list-group-item #{item.title}
                      a.pull-right(href="/admin/link/"+item.id) Delete
      .col-md-6
        br
        div.panel.panel-default
          div.panel-heading
            h3.panel-title 提示
          div.panel-body
            ul
              li 请先登录
              li 按DELETE可以删除